* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
}

.text-right {
    text-align: right;
}

.control-label {
    margin-bottom: 0.2rem;
}

.form-group {
    margin-bottom: 1rem;
}

.save-button {
    margin-right: 0.5rem;
}